body {
    /* width:300px;
    
    background-color: rgb(0, 153, 255);  */
    display:flex;
    flex-direction: column;
    width: 300px;
    /* height: calc(500px - 3.5rem); */
    padding-top: 3.5rem;
    overflow: hidden;
}
body::-webkit-scrollbar{
    display: none;
}

input#searchh {
    width: 100%;
    outline: none;
    border: 0px;
    background: #eaeaea;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

button#submit {
    background: #ff00e6;
    outline: 0px;
    border: 0px;
    border-radius: 0.25rem;
    position: relative;
    top: 0px;
    transition: top .3s;
    color: white;
    cursor: pointer;
    width: 3rem;
    margin-left: .5rem;
}

button#submit:hover {
    top: .5rem;
}

.nav {
    background-color: #ff00e6;
    padding: .5rem;
    position: absolute;
    left: 0px;
    top: 0px;
    width: calc(100vw - 1rem);
    text-align: center;
}

.nav img {
    height: 2.5rem;
    transform: rotate(0deg);
    transition: transform .3s;
}

.nav img:hover {
    transform: rotate(360deg);
}


#search {
    margin-top: 40px;
    display: flex;
    width: 250px;
    height:50px;
    background: white;
    border: hidden;
    outline:hidden;
    border-radius: 15px;
}

#list {
    margin-top: 40px;
    display: flex;
    width: 250px;
    flex-grow: 1;
    background: rgb(19, 68, 124);
    border: hidden;
    outline:hidden;
    border-radius: 15px;   
}
info{
    font-style: italic;
    font-size:small;
    color:rgb(78, 78, 78);
}
conta{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

ul{
    margin-top:10px;
    /* min-height: 200px; */
}

.x{
    color: white;
    font-size: large;
    background-color: #ff00e6;
    color: white;
    padding: 0.25em;
    border-radius: 0.25em;
    position: relative;
    cursor: pointer;
    padding-top: 0.15em;
    position: relative;
    top: -.25em;
    transition: top .3s;
    float: right;
    padding-left: 1em;
    padding-right: 1em;
}

.x:hover {
    top: -.1rem;
}
.friend-name{
    text-decoration:none; color:hsv(299, 100, 12); font-size:20px; font-weight:bold;
}

button.viewall {
    width: 100%;
    padding: .5rem;
    border-radius: .25rem;
    background-color: #ff00e6;
    color: white;
    outline: none;
    border: 0px;
    margin-bottom: 1rem;
    position: relative;
    top: 0;
    transition: top .3s;
    cursor: pointer;
    margin-top: .5rem;
}

button.viewall:hover {
    top: .25rem;
}

ul {
    list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  max-height:280px;
  overflow-y: auto;
}

/* copied from https://stackoverflow.com/questions/68036783/how-to-hide-scrollbar-track */
*::-webkit-scrollbar {
    background-color: transparent;
    width: 15px;
  }
  *::-webkit-scrollbar-track {
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 4px solid transparent;
    background-color: rgba(0,0,0,0.2);
    background-clip: content-box;
  }

li {
    width: calc(100% - 1rem);
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    background-color: #eaeaea;
    padding: 0.5rem;
    transition-duration: 0.2s;
    cursor: pointer;
}
li:hover{
    /* scale:105%; */
    /* transform:translateX(0.5rem); */
    margin-left:7px;
    width: calc(100% - 1rem - 7px);
    /* color:#ff6ff1; */
    color:#ff00e6;
    /* background-color: #f3f3f3; */
    /* background-color: #e2e2e2; */
    background-color: #ffe1ff;
}