::placeholder{
    color:white;
}
body {
    /* width:300px;
    
    background-color: rgb(0, 153, 255);  */
    display:flex;
    flex-direction: column;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:rgb(22, 131, 255);

}
hr{
    border:none;
    background-color: black;
    border:solid 1px black;
    border-radius: 4px;
}

#main_ui{
    background-color: rgb(14, 50, 91);
    border:solid 3px rgb(14, 50, 91);
    border-radius:4px;
}
#searchh {
    border:none;
    background-color:rgb(18, 107, 208);
    border-radius:4px;
    color:white;

    
}
#submit {
    border:none;
    background-color:rgb(18, 107, 208);
    border-radius:4px;
    cursor:pointer;
}
#list {
    margin-top: 40px;
    display: flex;
    width: 250px;
    flex-grow: 1;
    background: rgb(19, 68, 124);
    border: hidden;
    outline:hidden;
    border-radius: 15px;   
    text-decoration:none;
}
#list:hover{
    text-decoration:underline;
}
info{
    font-style: italic;
    font-size:small;
    color:rgb(78, 78, 78);
}
conta{
    display: flex;
    margin-top: 20px;
    flex-direction: row;
}

ul{
    margin-top:10px;
    /* min-height: 200px; */
}

.x{
    color:black;
    font-size: small;
}
#banner{
    background-color:rgb(22, 131, 255);
    text-align:center;
}
